.container {
  display: flex;
  align-items: center;
  padding-right: 15px;
}

.avatar {
  margin-right: 8px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.text {
  font-weight: 700;
  margin-right: 12px;
}
